<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9e72ba">  <td>20/01/10 19:17:49</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterTest()[pri:0, instance:demo.co.testScripts.c1@4034c28c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="727a61">  <td>20/01/10 19:17:49</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="c1.c1()[pri:0, instance:demo.co.testScripts.c1@4034c28c]">c1</td> 
  <td>main@1800031768</td>   <td></td> </tr>
<tr bgcolor="9e72ba">  <td>20/01/10 19:17:48</td>   <td>-257</td> <td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:demo.co.testScripts.c1@4034c28c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1800031768</td>   <td></td> </tr>
<tr bgcolor="9e72ba">  <td>20/01/10 19:17:49</td>   <td>71</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:demo.co.testScripts.c1@4034c28c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="9e72ba">  <td>20/01/10 19:17:49</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown(org.testng.ITestResult)[pri:0, instance:demo.co.testScripts.c1@4034c28c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
