<h2>Methods that were not run</h2><table>
<tr><td>demo.co.testScripts.ChannelsTestSuite.EmpCanEditC12</td></tr>
<tr><td>demo.co.testScripts.ChannelsTestSuite.EmpCanDeleteC11</td></tr>
<tr><td>demo.co.testScripts.ChannelsTestSuite.ManagerCanPinC14</td></tr>
<tr><td>demo.co.testScripts.ChannelsTestSuite.ManagerCanPinC15</td></tr>
<tr><td>demo.co.testScripts.ChannelsTestSuite.EmpCanEditC12</td></tr>
<tr><td>demo.co.testScripts.ChannelsTestSuite.EmpCanDeleteC11</td></tr>
<tr><td>demo.co.testScripts.ChannelsTestSuite.ManagerCanPinC14</td></tr>
<tr><td>demo.co.testScripts.ChannelsTestSuite.ManagerCanPinC15</td></tr>
</table>