<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afc369">  <td>20/01/20 19:57:47</td>   <td>0</td> <td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:demo.co.testScripts.ChannelsTestSuite@5ef60048]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1043351526</td>   <td></td> </tr>
<tr bgcolor="afc369">  <td>20/01/20 19:57:48</td>   <td>454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:demo.co.testScripts.ChannelsTestSuite@29f69090]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1543641172</td>   <td></td> </tr>
<tr bgcolor="afc369">  <td>20/01/20 19:57:48</td>   <td>456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:demo.co.testScripts.ChannelsTestSuite@5ef60048]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@184284568</td>   <td></td> </tr>
<tr bgcolor="eabab4">  <td>20/01/20 19:57:51</td>   <td>3686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChannelsTestSuite.EmpCanPostC10()[pri:1, instance:demo.co.testScripts.ChannelsTestSuite@5ef60048]">EmpCanPostC10</td> 
  <td>TestNG-tests-2@184284568</td>   <td></td> </tr>
<tr bgcolor="afc369">  <td>20/01/20 19:57:51</td>   <td>3705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown(org.testng.ITestResult)[pri:0, instance:demo.co.testScripts.ChannelsTestSuite@5ef60048]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="afc369">  <td>20/01/20 19:57:51</td>   <td>3720</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterTest()[pri:0, instance:demo.co.testScripts.ChannelsTestSuite@5ef60048]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@184284568</td>   <td></td> </tr>
<tr bgcolor="eabab4">  <td>20/01/20 19:58:27</td>   <td>39861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChannelsTestSuite.EmpCanPostC10()[pri:1, instance:demo.co.testScripts.ChannelsTestSuite@29f69090]">EmpCanPostC10</td> 
  <td>TestNG-tests-1@1543641172</td>   <td></td> </tr>
<tr bgcolor="afc369">  <td>20/01/20 19:59:28</td>   <td>100237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown(org.testng.ITestResult)[pri:0, instance:demo.co.testScripts.ChannelsTestSuite@29f69090]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1543641172</td>   <td></td> </tr>
<tr bgcolor="afc369">  <td>20/01/20 19:59:28</td>   <td>100251</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterTest()[pri:0, instance:demo.co.testScripts.ChannelsTestSuite@29f69090]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1543641172</td>   <td></td> </tr>
<tr bgcolor="afc369">  <td>20/01/20 19:59:29</td>   <td>101120</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:demo.co.testScripts.ChannelsTestSuite@5ef60048]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
